@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

/* General styling  */

body,
html {
    height: 100vh;
    width: 100vw;
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    background-image: url("/assets/images/main-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: 'customFont';
    src: url('../fonts/Peignot.ttf');
    font-weight: normal;
    font-style: normal;
}

.buttons {
    background-color: #2F4F4F;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;

    font-size: 20px;
    padding: 16px 30px;
}

.buttons:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
}

#main-div {
    width: 60%;
    height: 70%;
    border: solid black;
    background-color: white;
    box-shadow: 5px 10px 8px 10px #888888;
    margin: auto;
    top: 15%;
    position: relative;
    overflow: auto;
    /* background-image: url("../images/WoodSignBlank.jpg");
    background-position: center;
    background-repeat: no-repeat; */
    /* background-size: cover; */
}

/* Main screens */
#intro-screen-div,
#end-game-div {
    width: 100%;
    height: 100%;
    margin: auto;
}

/* Intro Screen Styling */
#intro-screen-div {
    text-align: center;
}

#intro-screen-title {
    margin-top: 10%;
    font-size: 3.5vw;
}

#un-petit-jeu-span {
    font-size: 5vw;
    font-family: 'Niconne', cursive;
    letter-spacing: 3px;
    color: rgb(192, 0, 0);
    text-shadow: -1px 1px 2px #000,
        1px 1px 2px #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

#intro-screen-game-des {
    margin-top: 5%;
    font-size: 2vw;
}

#intro-screen-btn {
    margin-top: 5%;
    width: 200px;
    height: 50px;
}

/* Input Name Screen Styling */

#input-name-div {}

#input-name-text {
    margin-top: 20%;
    text-align: center;
    font-size: 2.5vw;
}

#input-name-input {
    text-align: center;
    width: 45%;
    height: 50px;
    font-size: 2vw;
    margin-left: calc(50% - 22.5%);
    margin-top: 3%;
}

#input-name-btn {
    width: 20%;
    height: 50px;
    display: flex;
    text-align: right;
    margin-left: calc(50% - 10%);
    margin-top: 5%;
}

/* Game Options Screen Styling */

#game-options-div {
    text-align: center;
    position: relative;
    top: 5%;
}

#game-options-welcome-name {
    font-size: 40px;
}

#game-options-text {
    margin-top: 5%;
    font-size: 30px;
}

#game-difficulty-form {
    margin-top: 5%;
}

#game-difficulty-form input {
    margin-left: 60px;
    margin-right: 30px;
}

#game-difficulty-form label {
    font-size: 25px;
}

#game-options-difficulty-text,
#game-options-length-text {
    font-size: 30px;
}

#game-options-length-text {
    margin-top: 5%;
}

#game-options-btn {
    margin-top: 4%;
}

/* Open Game Area Styling */

#game-area-div {
    width: 100%;
    height: 100%;
    display: flex;
}

#game-area-left {
    width: 70%;
    height: 100%;
    float: left;
    border: solid orange;
}

#game-area-left-1 {
    border: solid pink;
    text-align: center;
    height: 15%;
}

#game-area-left-2 {
    border: solid red;
    height: 70%;
    display: flex;
    justify-content: space-between;
}

#game-area-left-2 input {
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
}

#game-area-left-2 label {
    /* margin-right: 25%; */
    font-size: 25px;
}

#game-area-left-3 {
    border: solid blue;
    height: 15%;
    display: flex;
    justify-content: space-between;
}

#game-area-right {
    width: 30%;
    height: 100%;
    float: right;
    border: solid violet;
}

#game-area-right-1 {
    border: solid green;
    height: 15%;
    text-align: center;
    font-size: 25px;
}

#game-area-right-2 {
    border: solid lime;
    text-align: center;
    font-size: 25px;
    height: 85%;
}

/* buttons */
#game-home-btn,
#skip-question-btn, 
#next-question-btn {
    height: 50%;
    font-size: 15px;
    letter-spacing: 2px;
    width: 25%;
}

#next-question-btn{ 
    font-weight: bolder;
}

/* tallies  */
#game-progress,
#correct-tally-num,
#correct-tally-label,
#incorrect-tally-num,
#incorrect-tally-label,
#skip-tally-num,
#skip-tally-label {}

/* Generate Questions Styling */
#mc-question {}

#mc-answer {}

#mc-form {}

/* Show Answers */

#show-answers-div {
    width: 100%;
    height: 100%;
}

#show-answers-lists-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#show-answers-title {
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
}

#answers-list {
    list-style-type: none;
    line-height: 30px;
    border: solid yellow;
    padding-left: 0;
}

#user-answers-list {
    list-style-type: none;
    margin-left: 8%;
    line-height: 30px;
    border: solid blue;
    padding-left: 0;
}

#true-answers-list {
    list-style-type: none;
    line-height: 30px;
    border: solid red;
    padding-left: 0;
}

.white-text {
    color: white;
}

.correct-words {
    color: green;
}

.incorrect-words {
    color: red;
    text-decoration: line-through;
}

#show-answers-btn {
    width: 25%;
    height: 50px;
    margin-left: calc(50% - 12.5%);
    margin-top: 2%;
}

/* End Game */
#end-game-div {
    width: 80%;
    height: 70%;
    margin: auto;
    text-align: center;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

#end-game-div button {
    margin: auto;
    margin-top: 2%;
    font-size: 15px;
    width: 30%;
    height: 12%;
    letter-spacing: 2px;
    display: table-cell;
    vertical-align: middle;
}

#congrats-message {}

#end-score-message {}

#motivation-message {}

#back-to-answers-btn {}

#play-again-btn {}

#return-home-btn {}

/* Pop Ups */
.fade-div {
    opacity: 0;
}

.fade-out-div {
    opacity: 0.7;
}

/* Choose answer pop up */
#choose-answer-div {}

#choose-answer-btn {}

/* Lose progress pop up */
#lose-progress-div {}

#lose-progress-prompt {}

#yes-lose-progress-btn {}

/* Difficulty pop up */
#difficulty-pop-up-div {}

#difficulty-pop-up-title {}

#easy-pop-up {}

#easy-list {}

#med-pop-up {}

#medium-list {}

#hard-pop-up {}

#hard-list {}

#difficulty-pop-up-btn {}

/* ---------------------      MEDIA QUERIES      ----------------- */

@media only screen and (max-width: 1400px) {

    #game-options-difficulty-text,
    #game-options-length-text,
    #game-options-text {
        font-size: 25px
    }
}

@media only screen and (max-width: 1000px) {

    /* GENERAL 1000 */
    /* INTRO SCREEN  1000 */

    #input-name-text {
        margin-top: 30%;
        font-size: 25px;
    }

    #input-name-btn {
        width: 30%;
        margin-left: calc(50% - 15%);
        margin-top: 10%;
    }

    /* INPUT NAME SCREEN 1000  */
    /* GAME OPTIONS SCREEN  1000 */

    #game-options-text {
        font-size: 25px;
    }

    #game-options-difficulty-text,
    #game-options-length-text {
        font-size: 20px
    }

    #game-difficulty-form label {
        font-size: 15px;
    }



    /* PLAY GAME SCREEN  1000 */
    /* SHOW ANSWERS SCREEN  1000 */

    #show-answers-title {
        font-size: 25px;
    }

    #show-answers-title {
        margin-top: 10%;
    }

    #show-answers-btn {
        margin-top: 10%;
    }

    /* END GAME SCREEN  1000 */

    #back-to-answers-btn {
        margin-top: 5%;
    }

    #end-game-div button {
        width: 40%;
        font-size: 12px;
    }

}

@media only screen and (max-width: 900px) {

    #game-options-text {
        font-size: 20px;
    }

    #game-options-difficulty-text,
    #game-options-length-text {
        font-size: 15px
    }

    #game-difficulty-form label {
        font-size: 12px;
    }

    #game-options-btn {
        font-size: 15px;
    }

    #game-difficulty-form input {
        margin-left: 40px;
        margin-right: 15px;
    }


}

@media only screen and (max-width: 800px) {

    /* GENERAL 800 */
    /* INTRO SCREEN  800 */
    /* INPUT NAME SCREEN 800  */

    #input-name-text {
        margin-top: 40%;
        font-size: 20px;
    }

    #input-name-btn {
        margin-top: 20%;
    }


    /* GAME OPTIONS SCREEN  800 */
    /* PLAY GAME SCREEN  800 */
    /* SHOW ANSWERS SCREEN  800 */

    #show-answers-div li {
        font-size: 12px;
    }

    #user-answers-list {
        margin-left: 0;
    }

    #show-answers-btn {
        width: 40%;
        margin-left: calc(50% - 20%);
        font-size: 15px;
    }

    /* END GAME SCREEN  800 */

    #end-game-div button {
        font-size: 10px;
    }

}

@media only screen and (max-width: 700px) {

    /* GENERAL 700 */
    /* INTRO SCREEN  700 */
    /* INPUT NAME SCREEN 700  */
    /* GAME OPTIONS SCREEN  700 */

    #game-options-title {
        font-size: 30px;
    }

    #game-options-text {
        font-size: 15px;
    }

    #game-options-difficulty-text,
    #game-options-length-text {
        font-size: 12px
    }

    #game-difficulty-form label {
        font-size: 10px;
    }

    #game-options-btn {
        margin-top: 10%;
        font-size: 12px;
    }

    /* PLAY GAME SCREEN  700 */
    /* SHOW ANSWERS SCREEN  700 */

    #show-answers-title {
        margin-top: 15%;
    }

    #true-answers-list {
        margin-left: 0;
    }

    #show-answers-div li {
        font-size: 9px;
    }

    /* END GAME SCREEN  700 */

}

@media only screen and (max-width: 600px) {

    /* GENERAL 600 */
    /* INTRO SCREEN  600 */
    /* INPUT NAME SCREEN 600  */
    /* GAME OPTIONS SCREEN  600 */

    #game-difficulty-form input {
        margin-left: 25%;
        margin-right: 20px;
    }

    #game-difficulty-form label {
        margin-right: 150px;
    }

    /* PLAY GAME SCREEN  600 */
    /* SHOW ANSWERS SCREEN  600 */
    /* END GAME SCREEN  600 */

}

@media only screen and (max-width: 500px) {

    /* GENERAL 500 */
    /* INTRO SCREEN  500 */
    /* INPUT NAME SCREEN 500  */
    /* GAME OPTIONS SCREEN  500 */
    /* PLAY GAME SCREEN  500 */
    /* SHOW ANSWERS SCREEN  500 */

    #show-answers-title {
        margin-top: 15%;
    }

    #true-answers-list {
        margin-left: 0;
    }

    /* END GAME SCREEN  500 */

    #end-score-message {
        font-size: 20px;
    }

    #motivation-message {
        font-size: 15px;
    }

    #end-game-div button {
        width: 50%;
        font-size: 10px;
    }


}