
/* General styling  */

body {}
html {}
#main-div {}

/* Intro Screen Styling */
#intro-screen-div{}
#intro-screen-title{}
#intro-screen-game-des{}
#intro-screen-btn{}

/* Input Name Screen Styling */
#input-name-div{}
#input-name-text{}
#input-name-input{}
#input-name-btn{}

/* Game Options Screen Styling */
#game-options-div{}
#game-options-welcome-name{}
#game-options-text{}
#game-difficulty-form{}
#game-options-difficulty-text{}
#game-options-length-text{}
#game-options-btn{}

/* Open Game Area Styling */
#game-area-div{}

#game-area-left{
    width: 70%;
    float: left;
}

#game-area-left-1{}
#game-area-left-2{}
#game-area-left-3{}

#game-area-right{
    width: 30%;
    float: right;
}

#game-area-right-1{}
#game-area-right-2{}

/* buttons */
#game-home-btn
#skip-question-btn
#next-question-btn

/* tallies  */
#game-progress
#correct-tally-num
#correct-tally-label
#incorrect-tally-num
#incorrect-tally-label
#skip-tally-num
#skip-tally-label

/* Generate Questions Styling */
#mc-question{}
#mc-answer{}
#mc-form

/* Show Answers */
#show-answers-title{}
#answers-list{}
#user-answers-list{}
#true-answers-list{}

.white-text{}
.correct-words{}
.incorrect-words{}

#show-answers-button{}

/* End Game */
#end-game-div{}
#congrats-message{}
#end-score-message{}
#motivation-message{}